.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px 0; /* creates top and bottom spacing so thumb can stay rounded */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #c084fc, #9333ea);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #a855f7, #7e22ce);
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #9333ea transparent;
}
